{% extends 'base.html' %} {% block content %}

<h1 class="text-center">Most Hyped Games</h1>

<div class="container">
    <form class="form-inline mb-3" id="filterForm">
        <label for="platform">Platform:</label>
        <select id="platform" class="form-select">
            <option value="">All Platforms</option>
        </select>

        <label for="genre">Genre:</label>
        <select id="genre" class="form-select">
            <option value="">All Genres</option>
        </select>
        <button type="submit" id="submitBtn" class="btn btn-primary btn-block btn-lg">Filter</button>
    </form>
</div>

<div class="container">
    <div class="row" id="gameList">
        {% for game in games %}
        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem">
                <img
                    src="{{ game.cover_url or url_for('static', filename='images/alt_cover_img.jpg') }}"
                    class="card-img-top"
                    alt="Placeholder Image" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{game.name}}</h5>
                    <ul class="list-group list-group-flush flex-grow-1">
                        <li class="list-group-item">
                            <b>Genre:</b> {% for genre in game.genres %} {{genre}} {{ ',' if not loop.last}} {% endfor
                            %}
                        </li>
                        <li class="list-group-item">
                            <b>Platform:</b>{% for platform in game.platforms %} {{platform}} {{ ', ' if not loop.last}}
                            {% endfor %}
                        </li>
                        <li class="list-group-item">
                            {% if game.aggregated_rating %}
                            <b>Critic Rating:</b> {{ game.aggregated_rating | float | round }} ({{
                            game.aggregated_rating_count }} reviews) {% else %} <b>Critic Rating:</b> Not Yet Available
                            {% endif %}
                        </li>
                        <li class="list-group-item"><b>GameSphere Rating:</b> {{game.avg_rating}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="/games/{{ game.id }}" class="card-link">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg justify-content-center">
        {% if page > 1 %}
        <li class="page-item"><a class="page-link" href="/?page={{ page - 1 }}">Previous</a></li>
        {% endif %} {% if games|length == 20 %}
        <li class="page-item"><a class="page-link" href="/?page={{ page + 1 }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
