{% extends 'base.html' %} {% block content %}

<h1 class="text-center">List: {{list.title}}</h1>

<div class="container">
    <div class="row">
        {% for game in games %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem">
                <img
                    src="{{ game.cover_url or url_for('static', filename='images/alt_cover_img.jpg') }}"
                    class="card-img-top"
                    alt="Placeholder Image" />
                <div class="card-body">
                    <h5 class="card-title">{{game.name}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Genre:</b> {% for genre in game.genres %} {{genre.name}} {{ ',' if not loop.last}} {% endfor
                        %}
                    </li>
                    <li class="list-group-item">
                        <b>Platform:</b>{% for platform in game.platforms %} {{platform.name}} {{ ', ' if not
                        loop.last}} {% endfor %}
                    </li>
                    <li class="list-group-item">
                        {% if game.aggregated_rating %}
                        <b>Critic Rating:</b> {{ game.aggregated_rating | float | round }} ({{
                        game.aggregated_rating_count }} reviews) {% else %} <b>Critic Rating:</b> Not Yet Available {%
                        endif %}
                    </li>
                    <li class="list-group-item">
                        <b>GameSphere Rating:</b>
                        {% for avg_rating in avg_ratings %} {% if avg_rating.game_id == game.id %} {{
                        avg_rating.avg_rating | float | round(1) }} {% endif %} {% else %} Not Yet Available {% endfor
                        %}
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/games/{{ game.id }}" class="card-link">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
